$main-color: #ff922d;

$bg-gray-color: #f2f3f6;

$gray-color: #818181;

$black-color: #0c1325;

$light-border-color: #dde0e6;
$dark-border-color:#acb0bb;

$over-lay-color:rgba(0, 0, 0, 0.8);

$footer--bg-color:#2f3a55;
$footer-gray-color:#a8abb3