* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
  .container .row {
    margin: 0;
  }
}

.main-color {
  color: #ff922d;
}

.over-lay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.bg-main-color {
  background-color: #ff922d;
  color: white;
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
}

.bg-main-color:hover {
  background-color: #e78428;
}

/*start header*/
.top {
  background-color: #f2f3f6;
  padding: 10px 0;
}

.top .parent {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .parent .number p {
  display: inline-block;
  margin: 0 30px 0 0;
  color: #818181;
  font-weight: lighter;
}

.top .parent .number p .dark-color {
  color: #0c1325;
  -webkit-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color;
  cursor: pointer;
  text-decoration: none;
}

.top .parent .number p .dark-color:hover {
  color: #ff922d;
}

.top .parent .social-icons i {
  padding: 0 6px;
  color: #818181;
  cursor: pointer;
}

.top .parent .social-icons i:hover {
  color: #ff922d;
}

.nav-bar {
  padding: 10px 0;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.nav-bar .parent {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .parent .logo a {
  font-weight: bolder;
  font-size: 50px;
  text-decoration: none;
  position: relative;
}

.nav-bar .parent .logo a:hover {
  color: #ff922d;
}

.nav-bar .parent .logo a span {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
}

.nav-bar .parent .logo a span::after {
  content: ")";
  position: absolute;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  bottom: -20px;
  right: 9px;
}

.nav-bar .parent .list {
  position: relative;
}

.nav-bar .parent .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0;
}

.nav-bar .parent .list ul li {
  color: #0c1325;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color;
}

.nav-bar .parent .list ul li:not(:last-child) {
  margin-right: 35px;
}

.nav-bar .parent .list ul li:hover {
  color: #ff922d;
}

.nav-bar .parent .list ul .active {
  color: #ff922d;
}

.nav-bar .parent .list .search-bar {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.nav-bar .parent .list .search-bar input[type="search"] {
  border: none;
  outline: none;
  padding: 5px;
  background-color: #f2f3f6;
  width: 88%;
}

.nav-bar .parent .list .search-bar i {
  cursor: pointer;
}

.nav-bar .parent .list .search-bar i:hover {
  color: #ff922d;
  -webkit-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color;
}

.nav-bar .parent .float-menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

.nav-bar .parent .float-menu:hover {
  color: #ff922d;
}

.slider-one {
  overflow: hidden;
  position: relative;
}

.slider-one .slick-list {
  height: 100%;
}

.slider-one .slick-list .slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-one .slick-list .slick-track .slide {
  width: 33.33333%;
  background-size: cover;
  background-position: center;
}

.slider-one .slick-list .slick-track .slide:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider-one .slick-list .slick-track .slide .container {
  height: 100%;
}

.slider-one .slick-list .slick-track .slide .container .row {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-one .slick-list .slick-track .slide .container .row .content {
  background-color: #ffffffcc;
  padding: 40px;
  border-radius: 10px;
  width: 550px;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.slider-one .slick-list .slick-track .slide .container .row .content h1 {
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.slider-one .slick-list .slick-track .slide .container .row .content p {
  color: #0c1325;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
}

.slider-one .slick-list .slick-track .slide .container .row .content span {
  display: block;
  margin: 15px 0;
}

.slider-one .slick-list .slick-track .slide .container .row .content button.more {
  margin-right: 10px;
}

.slider-one .slick-list .slick-track .slide .container .row .content a.tel {
  color: #0c1325;
  padding: 7px 15px;
  border: 1.5px solid #acb0bb;
  border-radius: 5px;
  text-decoration: none;
}

.slider-one .slick-list .slick-track .slide .container .row .content a.tel:hover {
  border-color: #ff922d;
  color: #ff922d;
  background-color: #f0ebeb;
}

.slider-one .slick-list .slick-track .one {
  background-image: url(../images/header-slider/slide-1.jpg);
}

.slider-one .slick-list .slick-track .two {
  background-image: url(../images/header-slider/slide-2.jpg);
}

.slider-one .slick-list .slick-track .three {
  background-image: url(../images/header-slider/slide-3.jpg);
}

.slider-one .slick-list .slick-track .slide.slick-current .container .row .content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slider-one .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-one .slick-dots li {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.slider-one .slick-dots li button {
  display: none;
}

.slider-one .slick-dots li.slick-active {
  background-color: #ff922d;
  -webkit-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color;
}

.hidden-nav-bar {
  width: 300px;
  height: 100vh;
  position: fixed;
  right: -300px;
  background-color: white;
  z-index: 5;
  display: none;
  overflow: hidden;
  padding: 30px;
  text-transform: capitalize;
  margin-left: 15px;
}

.hidden-nav-bar .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hidden-nav-bar .list li {
  list-style: none;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}

.hidden-nav-bar .list li:hover {
  color: #ff922d;
}

.hidden-nav-bar .list li.active {
  color: #ff922d;
}

.hidden-nav-bar .fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/*end header*/
@media (max-width: 768px) {
  .top {
    padding: 0;
  }
  .top .parent .number {
    width: 100%;
    padding: 10px 15px;
  }
  .top .parent .number p {
    margin: 0;
  }
  .top .parent .number p:last-child {
    float: right;
  }
  .top .parent .social-icons {
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  .nav-bar {
    padding: 0;
  }
  .nav-bar .parent {
    padding: 0 15px;
  }
  .nav-bar .parent .list {
    display: none;
  }
  .nav-bar .parent .float-menu {
    display: block;
  }
  .slider-one .content {
    margin: 0 15px;
  }
  .hidden-nav-bar {
    display: block;
  }
}

@media (max-width: 419px) {
  .top .parent .number p {
    display: block;
    text-align: center;
  }
  .top .parent .number p:last-child {
    float: none;
  }
  .top .parent .number p:not(:last-child) {
    margin-bottom: 15px;
  }
  .slider-one button.more,
  .slider-one a.tel {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .slider-one button.more:not(:last-child),
  .slider-one a.tel:not(:last-child) {
    margin-bottom: 15px;
  }
  .slider-one .slick-list .slick-track .slide .container .row .content {
    text-align: center;
    padding: 35px;
  }
  .slider-one .slick-list .slick-track .slide .container .row .content h1 {
    font-size: 40px;
  }
  .slider-one .slick-list .slick-track .slide .container .row .content p {
    font-size: 18px;
  }
  .slider-one .slick-list .slick-track .slide .container .row .content button.more {
    margin-right: auto;
  }
  .hidden-nav-bar {
    width: 100%;
    right: -100%;
  }
}

.about {
  text-transform: capitalize;
}

.about .row {
  padding: 100px 0;
}

.about .row .txt {
  padding-right: 40px;
  width: 40%;
}

.about .row .txt h1 {
  font-weight: bold;
  margin: 0;
}

.about .row .txt p {
  color: #818181;
  font-size: 16px;
  margin: 25px 0;
}

.about .row .list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .row .list .bord {
  width: 31.33333%;
  padding: 20px;
  padding-top: 50px;
  border: 1px solid #dde0e6;
}

.about .row .list .bord h3 {
  font-size: 17px;
  margin-bottom: 20px;
}

.about .row .list .bord p {
  font-size: 15px;
  color: #818181;
  margin: 0;
}

.about .row .list .bord:hover {
  border-color: #ff922d;
  -webkit-transition: 0.3s ease-in-out border-color;
  transition: 0.3s ease-in-out border-color;
}

@media (max-width: 1025px) {
  .about .row {
    padding: 50px 0;
  }
  .about .row .txt {
    margin: 6.125% 0;
  }
  .about .row .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .row .list .bord {
    width: 100%;
    padding-top: 20px;
  }
  .about .row .list .bord:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 0;
  }
  .about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .row .txt, .about .row .list {
    width: 100%;
    padding: 0 20px;
  }
  .about .row .txt h1 {
    font-size: 22px;
  }
  .about .row .txt h1 br {
    display: none;
  }
}

.services .txt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.services .txt h1 {
  font-size: 45px;
  width: 30%;
  margin: 0;
  line-height: 0.8em;
}

.services .txt p {
  width: 55%;
  font-size: 16px;
  margin: 0;
}

.services .row.data .grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.services .row.data .grid .bord {
  padding: 50px 40px 40px 40px;
  border: 1px solid #dde0e6;
  border-radius: 7px;
}

.services .row.data .grid .bord img, .services .row.data .grid .bord h3 {
  margin-bottom: 17px;
}

.services .row.data .grid .bord img {
  width: 100%;
  max-height: 220px;
}

.services .row.data .grid .bord h3 {
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}

.services .row.data .grid .bord h3:hover {
  color: #ff922d;
  -webkit-transition: 0.2s linear color;
  transition: 0.2s linear color;
}

.services .row.data .grid .bord p {
  color: #818181;
  margin: 0;
}

.wide-img {
  position: relative;
  margin-top: 50px;
  height: 300px;
  background-image: url(../images/wide-img/parallax1.jpg);
  background-position: top;
  background-attachment: fixed;
}

.wide-img .content {
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
}

.wide-img .content .img {
  width: 14.66667%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #acb0bb;
}

.wide-img .content .one {
  background-image: url(../images/wide-img/partner1.png);
}

.wide-img .content .two {
  background-image: url(../images/wide-img/partner2.png);
}

.wide-img .content .three {
  background-image: url(../images/wide-img/partner3.png);
}

.wide-img .content .four {
  background-image: url(../images/wide-img/partner4.png);
}

.wide-img .content .five {
  background-image: url(../images/wide-img/partner5.png);
}

.wide-img .content .six {
  background-image: url(../images/wide-img/partner1.png);
}

@media (max-width: 1025px) {
  .services .row.data .grid .bord {
    padding: 20px;
  }
  .wide-img {
    height: 700px;
  }
  .wide-img .content {
    height: 85%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wide-img .content .img {
    width: 48%;
    height: 31.33333%;
  }
}

@media (max-width: 992px) {
  .wide-img .content {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 0 20px;
  }
  .services .txt {
    padding: 60px 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .txt h1 {
    width: 100%;
    margin-bottom: 25px;
    font-size: 30px;
  }
  .services .txt p {
    width: 100%;
  }
  .services .row.data .grid {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
    grid-column-gap: 0;
    grid-row-gap: 30px;
  }
  .services .row.data .grid .bord img {
    max-height: 600px;
  }
  .wide-img .content {
    padding: 0 10px;
  }
}

@media (max-width: 476px) {
  .wide-img {
    height: 700px;
  }
  .wide-img .content {
    height: 98%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wide-img .content .img {
    width: 98%;
    height: 15.66667%;
  }
}

.FAQ {
  padding: 25px 0;
}

.FAQ .content {
  width: 50%;
}

.FAQ .txt {
  margin: 6.125% auto;
  padding-right: 20px;
}

.FAQ .txt h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}

.FAQ .txt p {
  font-size: 14px;
  color: #818181;
  margin: 0;
}

.FAQ .txt .slide-down {
  margin-top: 50px;
}

.FAQ .txt .slide-down .bord:not(:last-child) {
  margin-bottom: 15px;
}

.FAQ .txt .slide-down .bord .head {
  cursor: pointer;
}

.FAQ .txt .slide-down .bord .head h5 {
  font-size: 16px;
  max-width: 90%;
  display: inline-block;
  margin-bottom: 20px;
}

.FAQ .txt .slide-down .bord .head i {
  float: right;
}

.FAQ .txt .slide-down .bord .slide-txt {
  display: none;
  color: #818181;
  font-size: 14px;
}

.FAQ .img {
  background-image: url(../images/FAG/slide-4.jpg);
  background-size: cover;
  background-position: right;
  height: 600px;
}

@media (max-width: 768px) {
  .FAQ {
    padding: 40px 20px;
  }
  .FAQ .content {
    width: 100%;
  }
  .FAQ .content:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .FAQ .txt {
    padding-right: 0;
  }
  .FAQ .txt h1 {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .FAQ .img {
    height: 300px;
    background-position: top;
  }
}

.team {
  position: relative;
  background-image: url(../images/our-team/parallax2.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.team .content {
  position: relative;
  z-index: 2;
  padding: 50px 25px;
}

.team .content .row {
  position: relative;
}

.team .content .row h1 {
  color: white;
  margin-bottom: 40px;
}

.team .content .row .slider-two {
  overflow: hidden;
  height: 550px;
  width: 100%;
}

.team .content .row .slider-two .slick-list {
  height: 100%;
}

.team .content .row .slider-two .slick-list .slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .content .row .slider-two .slick-list .slick-track .bord {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: top center;
}

.team .content .row .slider-two .slick-list .slick-track .bord:not(:last-child) {
  margin-right: 20px;
}

.team .content .row .slider-two .slick-list .slick-track .bord:active {
  cursor: -webkit-grab;
  cursor: grab;
}

.team .content .row .slider-two .slick-list .slick-track .bord .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}

.team .content .row .slider-two .slick-list .slick-track .bord .txt {
  position: absolute;
  bottom: -100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
  padding: 10px;
  -webkit-transition: 0.5s ease-in-out bottom;
  transition: 0.5s ease-in-out bottom;
}

.team .content .row .slider-two .slick-list .slick-track .bord .txt p {
  margin-bottom: 5px;
}

.team .content .row .slider-two .slick-list .slick-track .slick-center .bg {
  background-color: rgba(0, 0, 0, 0);
}

.team .content .row .slider-two .slick-list .slick-track .slick-center .txt {
  bottom: 0;
}

.team .content .row .slider-two .slick-list .slick-track .one {
  background-image: url(../images/our-team/team-1-1.jpg);
}

.team .content .row .slider-two .slick-list .slick-track .two {
  background-image: url(../images/our-team/team-2-1.jpg);
}

.team .content .row .slider-two .slick-list .slick-track .three {
  background-image: url(../images/our-team/team-3-1.jpg);
}

.team .content .row .slider-two .slick-list .slick-track .four {
  background-image: url(../images/our-team/team-4-1.jpg);
}

.team .slick-arrow {
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 3;
}

.team .slick-arrow:first-child {
  left: 10px;
}

.team .slick-arrow:last-child {
  right: 10px;
}

@media (max-width: 1200px) {
  .team .content .row .slider-two {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .team .content .row h1 {
    font-size: 35px;
  }
}

@media (max-width: 660px) {
  .team .content .row .slider-two {
    height: 70vh;
  }
  .team .content .row .slider-two .slick-list .slick-track .bord:not(:last-child) {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .team .content .row .slider-two {
    height: 500px;
  }
  .team .content .row .slider-two .slick-list .slick-track .bord:not(:last-child) {
    margin: 0;
  }
}

.testimonials {
  padding: 40px 25px;
}

.testimonials .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials .row h1 {
  margin-bottom: 40px;
  font-weight: bolder;
  text-transform: capitalize;
}

.testimonials .row .slider-three {
  width: 100%;
  min-height: auto;
}

.testimonials .row .slider-three .slick-list {
  height: 100%;
  overflow: hidden;
}

.testimonials .row .slider-three .slick-list .slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials .row .slider-three .slick-list .slick-track .bord {
  width: 300px;
  padding: 25px;
  border: 1px solid #dde0e6;
  border-radius: 5px;
  margin: 0 10px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img {
  margin-bottom: 15px;
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img .one {
  background-image: url(../images/testimonials/testimonials-1.jpg);
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img .two {
  background-image: url(../images/testimonials/testimonials-2.jpg);
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img .three {
  background-image: url(../images/testimonials/testimonials-3.jpg);
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img .four {
  background-image: url(../images/testimonials/testimonials-4.jpg);
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img .five {
  background-image: url(../images/testimonials/testimonials-5.jpg);
}

.testimonials .row .slider-three .slick-list .slick-track .bord .img .six {
  background-image: url(../images/testimonials/testimonials-6.jpg);
}

.testimonials .row .slider-three .slick-list .slick-track .bord p {
  margin: 0;
  font-size: 14px;
  color: #818181;
}

.testimonials .row .slider-three .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 0 0;
}

.testimonials .row .slider-three .slick-dots li {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: darkgray;
  cursor: pointer;
  margin: 0 2.5px;
}

.testimonials .row .slider-three .slick-dots li button {
  display: none;
}

.testimonials .row .slider-three .slick-dots .slick-active {
  background-color: #ff922d;
}

@media (max-width: 768px) {
  .testimonials .row h1 {
    font-size: 25px;
  }
}

@media (max-width: 660px) {
  .testimonials .row .slider-three .slick-list .slick-track .bord {
    margin: 0;
  }
}

@media (max-width: 340px) {
  .testimonials .row .slider-three .slick-list .slick-track .bord {
    padding: 0;
    margin: 0;
  }
  .testimonials .row .slider-three .slick-list .slick-track .bord .img {
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }
  .testimonials .row .slider-three .slick-list .slick-track .bord .img img {
    margin: 0 0 10px 0;
  }
  .testimonials .row .slider-three .slick-list .slick-track .bord .img span {
    display: block;
  }
  .testimonials .row .slider-three .slick-list .slick-track .bord p {
    padding: 0 15px 15px 15px;
  }
}

.counter {
  position: relative;
  height: 200px;
  background-image: url(../images/counter/parallax3.jpg);
  background-position: top right;
  background-attachment: fixed;
}

.counter .container {
  height: 100%;
}

.counter .container .row {
  height: 100%;
}

.counter .content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  z-index: 2;
}

.counter .content .bord {
  padding: 0 20px;
}

.counter .content .bord h1 {
  display: inline-block;
  margin: 0 10px 0 0;
}

.counter .content .bord .break {
  word-break: keep-all;
  max-width: 70px;
  height: auto;
  display: inline-block;
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 13px;
}

@media (max-width: 992px) {
  .counter .container .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .counter .container .row .bord {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .counter {
    height: auto;
  }
  .counter .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .counter .container .row .bord {
    padding: 40px 0;
  }
}

.news {
  padding: 50px 20px;
}

.news .txt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.news .txt h1 {
  margin: 0;
  text-transform: capitalize;
}

.news .txt button {
  padding: 10px 15px;
  border: 1px solid #acb0bb;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
}

.news .txt button:hover {
  color: #ff922d;
  border-color: #ff922d;
}

.news .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .content .bord {
  width: 31.33333%;
  padding: 40px;
  cursor: pointer;
  border: 1px solid #dde0e6;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out background-color;
  transition: 0.5s ease-in-out background-color;
}

.news .content .bord:hover {
  background-color: #ff922d;
  border-color: white;
}

.news .content .bord h6 {
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 14px;
}

.news .content .bord h6 i {
  margin-right: 10px;
}

.news .content .bord p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.news .content .bord span {
  color: #818181;
  -webkit-transition: 0.5s ease-in-out color;
  transition: 0.5s ease-in-out color;
}

.news .content .bord:hover span {
  color: #0c1325;
}

@media (max-width: 992px) {
  .news .txt h1 {
    font-size: 25px;
  }
  .news .content .bord {
    padding: 30px 20px;
  }
  .news .content .bord p {
    font-size: 15px;
    font-weight: 400;
    color: #0c1325;
  }
  .news .content .bord span {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .news .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .content .bord {
    width: 100%;
  }
  .news .content .bord:not(:last-child) {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */