@media (max-width:1025px) {
    .services {
        .row.data {
            .grid {
                .bord {
                    padding: 20px;
                }
            }
        }
    }

    .wide-img {
        height: 700px;
        .content {
            height: 85%;
            flex-wrap: wrap;
            .img {
                width: 48%;
                height: (100% / 3) - 2
            }
        }
    }
}

@media (max-width: 992px) {
    .wide-img {
        .content {
            max-width: 720px;
        }
    }
}

@media (max-width:768px) {
    .services {
        padding: 0 20px;
        .txt {
            padding: 60px 0;
            margin: 0;
            flex-direction: column;
            h1 {
                width: 100%;
                margin-bottom: 25px;
                font-size: 30px;
            }
            p {
                width: 100%;
            }
        }
        .row.data {
            .grid {
                grid-template-columns: repeat(1,auto);
                grid-template-rows: repeat(6,auto);
                grid-column-gap: 0;
                grid-row-gap: 30px;
                .bord img {
                    max-height: 600px;
                }
            }
        }
    }

    .wide-img {
        .content {
            padding: 0 10px;
        }
    }
}

@media (max-width:476px) {
    .wide-img {
        height: 700px;
        .content {
            height: 98%;
            flex-wrap: wrap;
            .img {
                width: 98%;
                height: (100% / 6) - 1;
            }
        }
    }
}