.services {
    .txt {
        justify-content: space-between;
        padding: 50px 0;
        h1 {
            font-size: 45px;
            width: 30%;
            margin: 0;
            line-height: 0.8em;
        }
        p {
            width: 55%;
            font-size: 16px;
            margin: 0;
        }
    }
    .row.data {
        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,auto);
            grid-template-rows: repeat(2,auto);
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .bord {
                padding:50px 40px 40px 40px;
                border:1px solid $light-border-color;
                border-radius: 7px;
                img,h3{
                    margin-bottom: 17px;
                }
                img {
                    width: 100%;
                    max-height: 220px;
                }
                h3 {
                    font-size: 17px;
                    text-transform: capitalize;
                    cursor: pointer;
                    &:hover {
                        color: $main-color;
                        transition: 0.2s linear color;
                    }
                }
                p {
                    color:$gray-color;
                    margin: 0;
                }
            }
        }
    }
}

.wide-img {
    position: relative;
    margin-top: 50px;
    height: 300px;
    background-image: url(../images/wide-img/parallax1.jpg);
    background-position: top;
    background-attachment: fixed;
    .over-lay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $wide-img-color;
        z-index: 1  ;
    }
    .content {
        position: relative;
        z-index: 2;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-around;
        height: 50%;
        .img {
            width: (100% / 6) - 2;
            background-repeat: no-repeat;
            background-position: center;
            border: 2px solid $dark-border-color;
        }
        .one {
            background-image: url(../images/wide-img/partner1.png);
        }
        .two {
            background-image: url(../images/wide-img/partner2.png);
        }
        .three {
            background-image: url(../images/wide-img/partner3.png);
        }
        .four {
            background-image: url(../images/wide-img/partner4.png);
        }
        .five {
            background-image: url(../images/wide-img/partner5.png);
        }
        .six {
            background-image: url(../images/wide-img/partner1.png);
        }
    }
}

//import responsive file
@import "responsiveServices"