@media (max-width:1200px) {
    .team {
        .content {
            .row {
                .slider-two {
                    height: 450px;
                }
            }
        }
    }
    
}

@media (max-width:768px) {
    .team .content .row h1 {
        font-size: 35px;
    }
}

@media (max-width:660px) {
    .team {
        .content {
            .row {
                .slider-two {
                    height: 70vh;
                    .slick-list .slick-track .bord:not(:last-child) {
                        margin: 0
                    }
                }
            }
        }
    }
}

@media (max-width:400px) {
    .team {
        .content {
            .row {
                .slider-two {
                    height: 500px;
                    .slick-list .slick-track .bord:not(:last-child) {
                        margin: 0;
                    }
                }
            }
        }
    }
}