@media (max-width:992px) {
    .counter .container .row {
        justify-content: space-between;
        .bord {
            padding: 0;
        }
    }
}

@media (max-width:768px) {
    .counter {
        height: auto;
        .container .row {
            flex-direction: column;
            .bord {
                padding: 40px 0;
            }
        }
    }
}