@media (max-width:1025px) {
    .about {
        padding: 50px 0;
        .txt {
            margin: 6.125% 0;
        }
        .list {
            flex-direction: column;
            .bord {
                width: 100%;
                padding-top: 20px;
                &:not(:last-child) {
                    margin-bottom: 20px
                }
            }
        }
    }
}

@media (max-width:768px) {
    .about {
        padding:0;
        .row {
            flex-direction: column;
            .txt, .list {
                width: 100%;
                padding: 0 20px;
            }
            .txt {
                h1 {
                    font-size: 22px;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}